<style>
  .sidebar{
    background: linear-gradient(0deg, rgba(237, 237, 237, 1) 0%, rgba(245, 245, 245, 1) 50%, rgba(255, 255, 255, 1) 100%);
  }
  #nav-hov {
    background-color: transparent;
  }
  #nav-hov:hover {
    background-color: white;
  }
</style>
<!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " id="nav-hov" href="{{ url_for('admin_dashboard') }}">
          <i class="bi bi-grid text-black fw-bold"></i>
          <span class="text-black fw-bold">Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
    <a class="nav-link collapsed" data-bs-target="#category-nav" id="nav-hov" data-bs-toggle="collapse" href="#">
        <i class="bi bi-menu-button-wide text-black fw-bold"></i>
        <span class="text-black fw-bold">Manage Category</span>
        <i class="bi bi-chevron-down ms-auto text-black fw-bold"></i>
    </a>
    <ul id="category-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
        <li>
            <a href="{{ url_for('view_category') }}" id="nav-hov">
                <i class="bi bi-circle text-black fw-bold"></i>
                <span class="text-black fw-bold">View Categories</span>
            </a>
        </li>
       
    </ul>
</li>

  


      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" id="nav-hov" data-bs-toggle="collapse" href="#">
          <i class="bi bi-journal-text text-black fw-bold"></i><span class="text-black fw-bold">Manage Product</span><i class="bi bi-chevron-down ms-auto text-black fw-bold"></i>
        </a>
        <ul id="forms-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
       
          <li>
            <a href="{{ url_for('products') }}" id="nav-hov">
              <i class="bi bi-circle text-black fw-bold"></i><span class="text-black fw-bold">View Products</span>
            </a>
          </li>
        </ul>
      </li>


      <li class="nav-item">
        <a class="nav-link collapsed" id="nav-hov" href="{{ url_for('ManageOrder') }}">
          <i class="bi bi-people text-black fw-bold"></i>
          <span class="text-black fw-bold">Manage Order</span>
        </a>

      </li><!-- End Archived Nav -->

         <li class="nav-item">
        <a class="nav-link collapsed" id="nav-hov" href="{{ url_for('ManagePayments') }}">
          <i class="bi bi-archive text-black fw-bold"></i>
          <span class="text-black fw-bold">Manage Payments</span>
        </a>

      </li><!-- End Archived Nav -->
      

    
         <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#icons-nav" id="nav-hov" data-bs-toggle="collapse" href="#">
          <i class="bi bi-people text-black fw-bold"></i><span class="text-black fw-bold">Manage Accounts</span><i class="bi bi-chevron-down ms-auto text-black fw-bold"></i>
        </a>
        <ul id="icons-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
           <li>
            <a href="{{ url_for('customer_account') }}" id="nav-hov">
              <i class="bi bi-circle text-black fw-bold"></i><span class="text-black fw-bold">Customer</span>
            </a>
          </li>
          <li>
            <a href="{{ url_for('admin_accounts') }}" id="nav-hov">
              <i class="bi bi-circle text-black fw-bold"></i><span class="text-black fw-bold">Admin</span>
            </a>
          </li>
    
        </ul>
      </li>
  
          <li class="nav-item">
        <a class="nav-link collapsed" id="nav-hov" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-menu-button-wide text-black fw-bold"></i><span class="text-black fw-bold">Manage Reports</span><i class="bi bi-chevron-down ms-auto text-black fw-bold"></i>
        </a>
        <ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
     
           <li>
            <a href="" id="nav-hov">
              <i class="bi bi-circle text-black fw-bold"></i><span class="text-black fw-bold">Daily</span>
            </a>
          </li>
          <li>
            <a href="" id="nav-hov">
              <i class="bi bi-circle text-black fw-bold"></i><span class="text-black fw-bold">Weekly</span>
            </a>
          </li>
           <li>
            <a href="" id="nav-hov">
              <i class="bi bi-circle text-black fw-bold"></i><span class="text-black fw-bold">Monthly</span>
            </a>
          </li>
        </ul>
      </li><!-- End Components Nav -->

    </ul>

  </aside><!-- End Sidebar-->